@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


@layer utilities {
  .text-balance {
    text-wrap: balance;

  }
}
@layer base {
  :root {
    /* --background: 0 0% 100%; */
		--background-glass: rgba(19, 7, 48, 0.146);
		--secondary-page-background: linear-gradient(to right bottom, hsla(185, 78%, 76%, 0.956), rgba(8, 241, 183, 0.424), hsla(158, 80%, 40%, 0.1));
    /* --page-background: linear-gradient(to right bottom, hsla(253, 90%, 66%, 0.1), rgba(0, 0, 0, 0), hsla(158, 80%, 40%, 0.1)); */
		--background: hsla(251, 67%, 24%, 0.99);
    --page-background: linear-gradient(to bottom right, hsla(222, 47%, 11%), hsla(256, 69%, 35%), hsla(222, 47%, 11%));
    --foreground: hsla(222 47% 11%);
    --card: hsla(0 0% 100%);
    --card-foreground: hsla(222 47% 11%);
    --popover: hsla(0 0% 100%);
    --popover-foreground: hsla(222 47% 11%);
		--popover-foreground-hsl: 222 47% 11%;
    --primary: hsla(253 90% 66%);
		--primary-hsl: 253 90% 66%;
    --primary-foreground: hsla(0 0% 100%);
		--primary-foreground-hsl: 0 0% 100%;
    --secondary: hsla(220 14% 96%);
		--secondary-hsl: 220 14% 96%;
    --secondary-foreground: hsla(222 47% 11%);
		--secondary-foreground-hsl: 222 47% 11%;
    --muted: hsla(220 14% 96%);
		--muted-hsl: 220 14% 96%;
    --muted-foreground: hsla(220 9% 46%);
		--muted-foreground-hsl: 220 9% 46%;
    --accent: hsla(258 92% 76%);
		--accent-hsl: 258 92% 76%;
    --accent-foreground: hsla(222 47% 11%);
		--accent-foreground-hsl: 222 47% 11%;
    --destructive: hsla(0 84% 60%);
		--destructive-hsl: 0 84% 60%;
    --destructive-foreground: hsla(0 0% 100%);
		--destructive-foreground-hsl: 0 0% 100%;
    --border: hsla(220 13% 91%);
		--border-hsl: 220 13% 91%;
    --input: hsla(220 13% 91%);
		--input-hsl: 220 13% 91%;
    --ring: hsla(253 90% 66%); /* purple-500 */
		--ring-hsl: 253 90% 66%;
    --radius: 0.75rem;

    /* Custom variables from podslice */
    --primary-gradient: linear-gradient(to right, hsla(var(--primary-hsl)), hsla(var(--primary-gradient-end-hsl)));
    --primary-gradient-end: hsla(158 80% 40%); /* emerald-500 */
		--primary-gradient-end-hsl: 158 80% 40%;
    --accent-gradient: linear-gradient(to right, hsla(var(--accent-hsl)), hsla(var(--accent-gradient-end-hsl)));
    --accent-gradient-end: hsla(159 55% 51%); /* emerald-400 */
		--accent-gradient-end-hsl: 159 55% 51%;


		--border-glass: #9dc8d93d;
  }

  .dark {
    /* --background: 222 47% 11%;  */
		/* -secondary-page-background: linear-gradient(to right bottom, hsla(131, 35%, 84%, 0.064), rgba(49, 40, 76, 0.268), hsla(0, 0%, 62%, 0.772)); */
		--secondary-page-background: linear-gradient(to right bottom, hsla(57, 87%, 81%, 0.283), #5432bad9, hsla(249, 82%, 48%, 0.214));
		/* Secondary page background */
		--glass-gradient: linear-gradient(to top left, hsla(206, 84%, 37%, 0.242), rgba(43, 78, 174, 0.086), hsla(162, 69%, 85%, 0.197));
		--background-glass: hsla(256, 56%, 18%, 0.227);
		/* --secondary-page-background: linear-gradient(to right bottom, hsla(253, 90%, 66%, 0.1), rgba(0, 0, 0, 0), hsla(158, 80%, 40%, 0.1)); */
		/*  */
		/* --background: 222 47% 11%; slate-900, #0f172a */
    --page-background: linear-gradient(to bottom right, hsla(222, 47%, 11%), hsla(256, 69%, 35%), hsla(222, 47%, 11%));
		--page-background-hsl: 222 47% 11%;
    --foreground: hsla(0 0% 100%); /* white */
		--foreground-hsl: 0 0% 100%;
    --card: hsla(222 47% 11%); /* same as background */
		--card-hsl: 222 47% 11%;
    --card-foreground: hsla(0 0% 100%);
		--card-foreground-hsl: 0 0% 100%;
    --popover: hsla(222 47% 11%);
		--popover-hsl: 222 47% 11%;
    --popover-foreground: hsla(0 0% 100%);
		--popover-foreground-hsl: 0 0% 100%;
    --primary: hsla(253 90% 66%)
		--primary-hsl:253 90% 66%;
    --primary-foreground: hsla(0 0% 100%);
		--primary-foreground-hsl: 253 90% 66%;
    --secondary: hsla(215 28% 17%);
    --secondary-foreground: hsla(0 0% 100%);
    --muted: hsla(215 28% 17%);
		--muted-hsl: 215 28% 17%;
    --muted-foreground: hsla(215 14% 65%);
		--muted-foreground-hsl: 215 14% 65%;
    --accent: hsla(258 92% 76%);
		--accent-hsl: 258 92% 76%;
    --accent-foreground: hsla(0 0% 100%);
		--accent-foreground-hsl: 258 92% 76%;
    --destructive: hsla(0 63% 31%);
		--destructive-hsl: 0 63% 31%;
    --destructive-foreground: hsla(0 0% 100%);
		--destructive-foreground-hsl: 0 63% 31%;
    --border: hsla(215 14% 34%); /* slate-600, #475569 */
		--border-hsl: 215 14% 34%;
    --input: hsla(215 28% 17%);
		--input-hsl: 215 28% 17%;
    --ring: hsla(253 90% 66%);
		--ring-hsl: 253 90% 66%;
    --radius: 0.75rem;

    /* Podslice glassmorphism styles as variables */
    --card-background-glass: rgba(255, 255, 255, 0.1);
    --card-border-glass: rgba(255, 255, 255, 0.2);
    --section-background-glass: rgba(255, 255, 255, 0.05);
		--border-glass: hsla(255, 100%, 100%, 0.2);
		--border-glass-hsl: 255, 100%, 100%, 0.2;
		--outline-glass: hsla(255, 100%, 100%, 0.2);
		--outline-glass-hsl: 255, 100%, 100%, 0.2;
    /* Custom variables from podslice */
    --primary-gradient: linear-gradient(to bottom left, hsla(var(--primary-gradient-start-hsl)), hsla(var(--primary-gradient-end-hsl	)));
		--tertiary-gradient: linear-gradient(to top right, hsla(var(--tertiary-gradient-start-hsl)), hsla(var(--tertiary-gradient-end-hsl)));
    --primary-gradient-end: hsla(277, 89%, 59%, 0.96);
		--primary-gradient-end-hsl: 277, 89%, 59%, 0.96;
		--primary-gradient-start: hsla(27, 99%, 73%, 0.896);
		--primary-gradient-start-hsl: 27, 99%, 73%, 0.896;

		--tertiary-gradient-accent: linear-gradient(to bottom left, hsla(var(--tertiary-gradient-end-hsl)), hsla(var(--tertiary-gradient-start-hsl)));

		--tertiary-gradient-end: hsla(160, 80%, 68%);
		--tertiary-gradient-end-hsl: 160, 80%, 68%;
		--tertiary-gradient-start: hsla(217, 94%, 60%, 0.896);
		--tertiary-gradient-start-hsl: 217, 94%, 60%, 0.896;


    --accent-gradient: linear-gradient(to bottom left, hsla(var(--accent-gradient-start-hsl)), hsla(var(--accent-gradient-end-hsl)));
		--accent-gradient-end: hsla(234, 72%, 67%);
		--accent-gradient-end-hsl: 234, 72%, 67%;
		--accent-gradient-start: hsla(69, 85%, 69%, 0.896);
		--accent-gradient-start-hsl: 69, 85%, 69%, 0.896;

    --sidebar-background: #10101a54;
    --sidebar-foreground: hsla(240 4.8% 95.9%);
		--sidebar-foreground-hsl: 240 4.8% 95.9%;
    --sidebar-primary: hsla(224.3 76.3% 48%);
		--sidebar-primary-hsl: 224.3 76.3% 48%;
    --sidebar-primary-foreground: hsla(0 0% 100%);
		--sidebar-primary-foreground-hsl: 0 0% 100%;
    --sidebar-accent: hsla(240 3.7% 15.9%);
		--sidebar-accent-hsl: 240 3.7% 15.9%;
    --sidebar-accent-foreground: hsla(240 4.8% 95.9%);
		--sidebar-accent-foreground-hsl: 240 4.8% 95.9%;
    --sidebar-border: hsla(240 3.7% 15.9%);
		--sidebar-border-hsl: 240 3.7% 15.9%;
    --sidebar-ring: hsla(217.2 91.2% 59.8%);
		--sidebar-ring-hsl: 217.2 91.2% 59.8%;
  }
}


  div {
	border-color: hsla(0 0% 15%) !important;
  }


	.header {
		text-align: left;
		margin-bottom: 3rem;
	}

	.header h1 {
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
		color: hsla(var(--foreground));
	}

	.episodeCard {
		/* background: #18181b; */
		/* background: #18181b; */

		border: 1px solid hsla(var(--border));
		border-radius: .5rem;
		padding:1.2rem 2rem !important;
		width: 100%;
		margin: 0 auto;
		/* max-width: 90vw!important; */
		/* box-shadow: 2px 9px 17px 0px #0000004a, inset -20px -9px 84px 5px #1c010f2b !important; */
	}
	.episodeDate {
		font-size: 0.5rem;
		color: hsla(var(--muted-foreground));
	}

	.episodeCard {
		border-radius: 1.2rem;
		background: linear-gradient(349deg, #1d1f25f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
		border: 1px solid hsla(var(--border));
		color: hsla(var(--card-foreground));
		box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
		width: 100%;
		background: #18191b;
		box-shadow: inset 0px 1px 1px #fbdb4c61, 3px 20px 17px #00000036;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
	/* .episodeCard:hover {
		background: linear-gradient(349deg, #1d1f25f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
		border: 1px solid hsla(var(--border));
		color: hsla(var(--card-foreground));
		box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
		transform: translateY(-2px);
	} */
	.episodeDescription {
		color: hsla(var(--card-foreground));
		font-size: 0.6rem;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0.025em;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		text-align: left;
	}
	.episodePlayButton {
		background: linear-gradient(349deg, #1d1f25f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
		border: 1px solid #151716;
		background: #22101038;
	}

	.episodePlayButton:hover {
		background: linear-gradient(349deg, #2a2d35f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
		border: 1px solid #515d57;
		background: #22101038;
	}


	.header > p {
		font-size: 1.2125rem;
		color: hsla(var(--muted-foreground));
		max-width: 600px;
		text-align: left !important;
		line-height: 1.6;
	}

	.cl-logoBox,
	.cl-header > .cl-internal,
	.cl-logoImage {
		font-size: 14px;
		text-transform: none;
		transform: scale(2) !important;
		margin-bottom: 1rem;
		background-color: #23232300;
	}


	.container {
		width: 100%;
		width: 100vw !important;
	}

	.container {
		width: 100%;
		background-image: linear-gradient(
			105deg,
			hsla(216deg 11% 9%) 0%,
			hsla(217deg 13% 10%) 8%,
			hsla(217deg 14% 12%) 14%,
			hsla(217deg 16% 13%) 21%,
			hsla(217deg 17% 14%) 26%,
			hsla(217deg 18% 15%) 32%,
			hsla(217deg 19% 16%) 36%,
			hsla(217deg 20% 18%) 41%,
			hsla(217deg 21% 19%) 45%,
			hsla(220deg 19% 20%) 49%,
			hsla(226deg 14% 22%) 54%,
			hsla(236deg 10% 24%) 59%,
			hsla(250deg 8% 25%) 64%,
			hsla(266deg 8% 27%) 70%,
			hsla(283deg 7% 28%) 76%,
			hsla(303deg 6% 30%) 84%,
			hsla(318deg 8% 32%) 91%,
			hsla(328deg 9% 34%) 100%
					);
			display: flex;
			flex-direction: column;
			margin-top: 3rem; /* Account for fixed header height */
		}

	.title {
		font-size: 1.9rem;
		font-weight: 700;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

@media (min-width: 768px) {
  .episodeCard {
		margin: 0;
		width: 100%;
		/* width: 90%; */
		/* max-width: 50vw !important; */
  }
}





  @layer base {
  * {
    @apply border-border;
  }
  body {
		overflow-x: hidden;
		width: 100%;
		/* max-width: 100vw; */
    @apply bg-background text-foreground;
  }
}
