/* Import typography styles */
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@define-mixin text {
    .h1-text {
        font-family: 'Work Sans', sans-serif;
        font-size: var(--font-size-h1);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--color-h1);
        margin: 0 0 1.5rem;
    }

    .h2-text {
        font-family: 'Work Sans', sans-serif;
        font-size: var(--font-size-h2);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--color-h2);
        margin: 0 0 1.5rem;

    }

    .h3-text {

        font-family: 'Work Sans', sans-serif;
        font-size: var(--font-size-h3);
        font-weight: 700;
        line-height: 1.2;

        letter-spacing: -0.02em;
        color: var(--color-h3);

        margin-bottom: 3.5rem !important;
    }

    .h4-text {
        font-family: 'Work Sans', sans-serif;
        font-size: var(--font-size-h4);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--color-h4);
        margin: 0 0 1.5rem;
    }

    .h5-text {
        font-family: 'Work Sans', sans-serif;
        font-size: var(--font-size-h5);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--color-h5);
        margin: 0 0 1.5rem;
    }

    .body-text {
        font-family: 'Mozilla Headline', sans-serif;
        font-size: var(--font-size-body);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: var(--color-body);
        margin: 0 0 1.5rem;
    }

    .body-text-sm {
        font-family: 'Mozilla Headline', sans-serif;
        font-size: var(--font-size-body-sm);
        font-weight: 400;
        line-height: 1.5;
    }

    .button-text {
        font-family: 'Work Sans', sans-serif;
        background-color: var(--button-primary);
        color: var(--button-primary-d);
        box-shadow: var(--button-primary-shadow);
        font-size: var(--font-size-body) !important;
        font-weight: 400;
        line-height: 0;
        display: inline-flex;
        align-items: center;
        height: 2.5rem;
        justify-content: center;
        gap: 0.5rem;
        white-space: nowrap;
        border-radius: 0.5rem;
        padding: 0.75rem 9rem;
        cursor: pointer;
        outline: 1px solid var(--button-primary-outline) !important;
    }

    .button-primary {
        font-family: 'Work Sans', sans-serif;
        background-color: var(--button-primary);
        color: var(--button-primary-d);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        font-size: var(--font-size-body) !important;
        font-weight: 400;
        line-height: 0;
        display: inline-flex;
        align-items: center;
        height: 2.5rem;
        justify-content: center;
        gap: 0.5rem;
        white-space: nowrap;
        border-radius: 0.5rem;
        padding: 0.75rem 9rem;
        cursor: pointer;
        outline: 1px solid oklch(0.76 0.0449 246.28) !important;
    }

    .button-primary-hover {
        background-color: var(--button-primary-hover);
        color: var(--button-primary-d-hover);
    }

    .input-text {
        background-color: oklch(0.3 0.03 269.92);
        box-shadow: inset -2px 2px 2px 1px oklch(0.18 0 0);
        border: 1px solid #5d5562;
        border-radius: .5rem;
        padding: .8rem;
        margin: .5rem;
        font-size: 0.8rem;
        color: #ffffff;
        width: 100%;
        margin-left: 0px;
        font-weight: 500;
        line-height: 1.5;

    }

    .input-textarea {
        background-color: oklch(0.3 0.03 269.92);
        box-shadow: inset -2px 2px 2px 1px oklch(0.18 0 0);
        border: 1px solid #5d5562;
        border-radius: .5rem;
        padding: .8rem;
        margin: .5rem;
        font-size: 0.8rem;
        color: #f4f6f8;
        width: 100%;
        margin-left: 0px;
        font-weight: 500;
        line-height: 1.5;

    }

    input::placeholder {
        color: var(--color-input-placeholder) !important;
    }

    input:focus {
        outline: none;
    }

    textarea:focus {
        outline: none;
    }

}

@define-mixin utilities {
    .text-balance {
        text-wrap: balance;

    }
}

/* @ts-ignore */
@layer base {
    :root {

        /* --background: 0 0% 100%; */
        --background-glass: rgba(19, 7, 48, 0.146);
        --secondary-page-background: linear-gradient(to right bottom, hsla(185, 78%, 76%, 0.956), rgba(8, 241, 183, 0.424), hsla(158, 80%, 40%, 0.1));
        --background: linear-gradient(to right bottom, hsla(253, 90%, 66%, 0.1), rgba(0, 0, 0, 0), hsla(158, 80%, 40%, 0.1));
        /* --background: 0.145 0 0; */
        --background-oklch: 0.145 0 0;
        --d: oklch(0.99 0 none / 0.63);
        --d-oklch: 0.99 0 none / 0.63;
        --card: oklch(0.205 0 0);
        --card-oklch: 0.205 0 0;
        --card-d: oklch(0.985 0 0);
        --card-d-hsl: 0.985 0 0;
        --popover: oklch(0.269 0 0);
        --popover-oklch: 0.269 0 0;
        --popover-d: oklch(0.985 0 0);
        --popover-d-hsl: 0.985 0 0;
        --primary: oklch(0.922 0 0);
        --primary-hsl: 0.922 0 0;
        --primary-d: 0.205 0 0;
        --primary-d-hsl: 0.205 0 0;
        --secondary: 0.269 0 0;
        --secondary-hsl: 0.269 0 0;
        --secondary-d: 0.985 0 0;
        --secondary-d-hsl: 0.985 0 0;
        --muted: oklch(0.99 0 none / 0.55);
        --muted-oklch: 0.985 0 0 / 0.63;
        --muted-d: oklch(0.73 0.1659 158.84);
        --muted-d-oklch: 0.88 0.0197 273.21;
        --accent: oklch(0.78 0.1144 343.08 / 0.8);
        --accent-oklch: 0.78 0.1144 343.08 / 0.8;
        --accent-d: oklch(0.99 0 none / 0.55);
        --accent-d-oklch: 0.99 0 none / 0.55;
        --destructive: oklch(0.67 0.172 29.87 / 0.8);
        --destructive-oklch: 0.67 0.172 29.87 / 0.8;
        --destructive-d: oklch(0.82 0.0631 18.53);
        --destructive-d-oklch: 0.82 0.0631 18.53;
        --border: oklch(0.215 0.14 215.14);
        --border-oklch: 0.215 0.14 215.14;
        --input: oklch(0.215 0.14 215.14);
        --input-oklch: 0.215 0.14 215.14;
        --ring: hsla(253 90% 66%);
        /* purple-500 */
        --ring-hsl: 253 90% 66%;
        --radius: 0.75rem;

        /* Custom variables from podslice */
        --primary-gradient: linear-gradient(to right, hsla(var(--primary-hsl)), hsla(var(--primary-gradient-end-hsl)));
        --primary-gradient-end: hsla(158 80% 40%);
        /* emerald-500 */
        --primary-gradient-end-hsl: 158 80% 40%;
        --accent-gradient: linear-gradient(to right, hsla(var(--accent-hsl)), hsla(var(--accent-gradient-end-hsl)));
        --accent-gradient-end: hsla(159 55% 51%);
        /* emerald-400 */
        --accent-gradient-end-hsl: 159 55% 51%;

        --button-primary-shadow: inset -10px 1px 39px 2px oklch(0.54 0.0459 299.05 / 0.77);

        --border-glass: #9dc8d93d;

        --input-bg: oklch(0.38 0.0373 292.9);
        --input-shadow: oklch(0.68 0.3182 325.52 / 0.5);
        --input-border: oklch(0.215 0.14 215.14 / 0.5);

        --input-border-radius: 0.5rem;
        --input-padding: 0.5rem;
        --input-margin: 0.5rem;
        --input-font-size: 1rem;
        --input-font-weight: 400;
        --input-line-height: 1.5;
        --input-placeholder-color: oklch(0.35 0.0281 276.55);
        --input-placeholder: oklch(0.35 0.0281 276.55);

    }

    .dark {
        /* --background: 222 47% 11%;  */
        /* -secondary-page-background: linear-gradient(to right bottom, hsla(131, 35%, 84%, 0.064), rgba(49, 40, 76, 0.268), hsla(0, 0%, 62%, 0.772)); */
        --secondary-page-background: linear-gradient(to right bottom, hsla(57, 87%, 81%, 0.283), #5432bad9, hsla(249, 82%, 48%, 0.214));
        /* Secondary page background */
        --glass-gradient: linear-gradient(to top left, hsla(206, 84%, 37%, 0.242), rgba(43, 78, 174, 0.086), hsla(162, 69%, 85%, 0.197));
        --background-glass: hsla(256, 56%, 18%, 0.227);
        /* --secondary-page-background: linear-gradient(to right bottom, hsla(253, 90%, 66%, 0.1), rgba(0, 0, 0, 0), hsla(158, 80%, 40%, 0.1)); */

        /* --background: 222 47% 11%; slate-900, #0f172a */

        --page-background: linear-gradient(to bottom right, hsla(222, 47%, 11%), hsla(256, 69%, 35%), hsla(222, 47%, 11%));
        --background: oklch(0.27 0.0493 287.76);
        --d: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-d: oklch(0.85 0 none);
        --popover: oklch(0.269 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --popover-background: linear-gradient(to bottom right, oklch(0.34 0.0033 228.88), oklch(0.26 0.0055 286.01), oklch(0.25 0.0094 285.69));
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --background-oklch: 0.145 0 0;
        --card: 0.205 0 0;
        --card-oklch: 0.205 0 0;
        --font-size-h1: 3.488rem;
        --font-size-h2: 2.074rem;
        --font-size-h3: 1.328rem;
        --font-size-h4: 1.24rem;
        --font-size-h5: 1.2rem;
        --font-size-h6: 1rem;
        --font-size-p: .833rem;
        --font-size-small: .694rem;
        --font-size-0: .579rem;
        --font-size-body: .833rem;

        --button-primary-outline: oklch(0.3 0.0355 186.68);

        --color-h1: oklch(0.9 0.0294 310.14);
        --color-h2: oklch(0.9 0.0294 310.14);
        --color-h3: oklch(0.9 0.0294 310.14);
        --color-h4: oklch(0.9 0.0294 310.14);
        --color-h5: oklch(0.9 0.0294 310.14);
        --color-body: oklch(0.92 0.0035 219.53);
        --color-muted-foreground: oklch(0.76 0.0372 49.12);
        --color-accent: oklch(0.74 0.12 306.61);
        --color-accent-foreground: oklch(0.985 0 0);
        --color-destructive: oklch(0.67 0.172 29.87 / 0.8);
        --color-destructive-foreground: oklch(0.82 0.0631 18.53);
        --color-border: oklch(0.215 0.14 215.14);
        --color-input: oklch(0.215 0.14 215.14);
        --color-ring: oklch(0.68 0.3182 325.52);
        --color-radius: 0.75rem;

        --button-primary: oklch(0.33 0.1804 287.47 / 0.87);
        --button-primary-foreground: oklch(0.985 0 0);
        --button-primary-hover: oklch(0.15 0.0027 325.71 / 0.5);
        --button-primary-foreground-hover: oklch(0.985 0 0);

        --primary: 0.922 0 0;
        --primary-hsl: 0.922 0 0;
        --secondary: 0.269 0 0;
        --secondary-hsl: 0.269 0 0;

        --link-color: oklch(0.73 0.07 177.77 / 0.84) !important;
        --link-color-hsl: 177.77 73% 84%;
        --link-color-oklch: .56 .2507 282.27 / .8;
        --link-color-foreground: oklch(0.205 0 0);
        --link-color-foreground-oklch: .56 .2507 282.27 / .8;
        --link-color-foreground-hover: oklch(0.205 0 0);
        --link-color-foreground-hover-oklch: 0.205 0 0;
        --link-color-foreground-active: oklch(0.205 0 0);
        --link-color-foreground-active-oklch: 0.205 0 0;
        --link-color-foreground-active-hover: oklch(0.205 0 0);
        --link-color-foreground-active-hover-oklch: 0.205 0 0;
        --link-color-foreground-active-hover-active: oklch(0.205 0 0);
        --link-color-foreground-active-hover-active-oklch: 0.205 0 0;
        --link-color-foreground-active-hover-active-hover: oklch(0.205 0 0);
        --link-color-foreground-active-hover-active-hover-oklch: 0.205 0 0;
        --link-color-foreground-active-hover-active-hover-active: oklch(0.205 0 0);
        --link-color-foreground-active-hover-active-hover-active-oklch: 0.205 0 0;
        --link-color-foreground-active-hover-active-hover-active-hover: oklch(0.205 0 0);
        --link-color-foreground-active-hover-active-hover-active-hover-oklch: 0.205 0 0;

        --muted: oklch(0.269 0 0);
        --muted-oklch: 0.269 0 0;
        --muted-d: oklch(0.82 0.0518 292.66 / 0.95);
        --muted-d-oklch: 0.82 0.0518 292.66 / 0.95;
        --accent: oklch(0.81 0.1051 27.49 / 0.8);
        --accent-oklch: 0.81 0.1051 27.49 / 0.8;
        --accent-d: oklch(0.985 0 0);
        --accent-d-oklch: 0.985 0 0;
        --destructive: hsla(0 63% 31%);
        --destructive-hsl: 0 63% 31%;
        --destructive-d: hsla(0 0% 100%);
        --destructive-d-hsl: 0 63% 31%;
        --border: hsla(215 14% 34%);
        /* slate-600, #475569 */
        --border-hsl: 215 14% 34%;
        --input: hsla(215 28% 17%);
        --input-hsl: 215 28% 17%;
        --ring: hsla(253 90% 66%);
        --ring-hsl: 253 90% 66%;
        --radius: 0.75rem;

        /* Podslice glassmorphism styles as variables */
        --card-background-glass: rgba(255, 255, 255, 0.362);
        --card-border-glass: rgba(255, 255, 255, 0.2);
        --section-background-glass: rgba(255, 255, 255, 0.05);
        --border-glass: hsla(255, 100%, 100%, 0.2);
        --border-glass-hsl: 255, 100%, 100%, 0.2;
        --outline-glass: hsla(255, 100%, 100%, 0.2);
        --outline-glass-hsl: 255, 100%, 100%, 0.2;
        /* Custom variables from podslice */
        --primary-gradient: linear-gradient(to bottom left, hsla(var(--primary-gradient-start-hsl)), hsla(var(--primary-gradient-end-hsl)));
        --tertiary-gradient: linear-gradient(to top right, hsla(var(--tertiary-gradient-start-hsl)), hsla(var(--tertiary-gradient-end-hsl)));
        --primary-gradient-end: hsla(277, 89%, 59%, 0.96);
        --primary-gradient-end-hsl: 277, 89%, 59%, 0.96;
        --primary-gradient-start: hsla(27, 99%, 73%, 0.896);
        --primary-gradient-start-hsl: 27, 99%, 73%, 0.896;

        --tertiary-gradient-accent: linear-gradient(to bottom left, hsla(var(--tertiary-gradient-end-hsl)), hsla(var(--tertiary-gradient-start-hsl)));

        --tertiary-gradient-end: rgb(165, 229, 228);
        --tertiary-gradient-end-hsl: 170, 80%, 68%;
        --tertiary-gradient-start: hsla(242, 94%, 60%, 0.896);
        --tertiary-gradient-start-hsl: 242, 94%, 60%, 0.896;

        --accent-gradient: linear-gradient(to bottom left, hsla(var(--accent-gradient-start-hsl)), hsla(var(--accent-gradient-end-hsl)));
        --accent-gradient-end: hsla(264, 63%, 48%);
        --accent-gradient-end-hsl: 264, 63%, 48%;
        --accent-gradient-start: hsla(120, 87%, 81%, 0.896);
        --accent-gradient-start-hsl: 120, 87%, 81%, 0.896;

        --sidebar-background-oklch: oklch(0.37 0.1257 281.32 / 0.78);
        --sidebar-background: oklch(0.37 0.1257 281.32 / 0.78);
        --sidebar-d-hsl: 240 4.8% 95.9%;
        --sidebar-primary: hsla(224.3 76.3% 48%);
        --sidebar-primary-hsl: 224.3 76.3% 48%;
        --sidebar-primary-d: hsla(0 0% 100%);
        --sidebar-primary-d-hsl: 0 0% 100%;
        --sidebar-accent: hsla(240 3.7% 15.9%);
        --sidebar-accent-hsl: 240 3.7% 15.9%;
        --sidebar-accent-d: hsla(240 4.8% 95.9%);
        --sidebar-accent-d-hsl: 240 4.8% 95.9%;
        --sidebar-border: hsla(240 3.7% 15.9%);
        --sidebar-border-hsl: 240 3.7% 15.9%;
        --sidebar-ring: hsla(217.2 91.2% 59.8%);
        --sidebar-ring-hsl: 217.2 91.2% 59.8%;

        --input-bg: oklch(var(--muted-d)) !important;
        --input-shadow: oklch(var(--ring) / 0.5) !important;
        --input-border: oklch(var(--border) / 0.5) !important;
        --input-border-radius: 0.5rem !important;
        --input-padding: 0.5rem !important;
        --input-margin: 0.5rem !important;
        --input-font-size: 1rem !important;
        --input-font-weight: 400 !important;
        --input-line-height: 1.5 !important;

        --input-placeholder-color: oklch(0.82 0.0554 277.11);
        --input-placeholder: oklch(0.57 0.0107 279.55);

    }

}

body {
    font-family: 'Public Sans', sans-serif;
    min-height: 100vh;
    /* Ensure the gradient covers the entire viewport */
    display: flex;
    /* For centering the glass element */
    justify-content: center;
    align-items: center;
}

div {
    border-color: hsla(0 0% 15%) !important;
}

.header {
    text-align: left;
    margin-bottom: 3rem;
}

.header>h1 {
    font-size: (--font-size-h1);
    margin-bottom: 1rem;
}

.episodeCard {
    border: 1px solid hsla(var(--border));
    border-radius: .5rem;
    padding: 1.2rem 2rem !important;
    width: 100%;
    margin: 0 auto;
}

.episodeCard.glass-card {
    width: 240px;
    height: 360px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 20px 10px rgba(255, 255, 255, 1);
    position: relative;
}

.episodeCard.glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.episodeCard.glass-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}

.episodeDate {
    @mixin body-text-sm;
}

.episodeCard {
    border-radius: 1.2rem;
    background: linear-gradient(349deg, #1d1f25f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
    border: 1px solid hsla(var(--border));
    color: hsla(var(--card-d));
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
    width: 100%;
    background: #18191b;
    box-shadow: inset 0px 1px 1px #fbdb4c61, 3px 20px 17px #00000036;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.episodeDescription {
    color: hsla(var(--card-d));
    @mixin body-text-sm;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.episodePlayButton {
    background: linear-gradient(349deg, #1d1f25f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
    border: 1px solid #151716;
    background: #22101038;
}

.episodePlayButton:hover {
    background: linear-gradient(349deg, #2a2d35f8 30%, #44b2b257 170%, hsla(291, 4%, 37%) 200%) !important;
    border: 1px solid #515d57;
    background: #22101038;
}

.header>p {
    @mixin body-text;
    max-width: 600px;
    text-align: left !important;
    line-height: 1.6;
}

.cl-logoBox,
.cl-header>.cl-internal,
.cl-logoImage {
    @mixin body-text-sm;
    text-transform: none;
    transform: scale(2) !important;
    margin-bottom: 1rem;
    background-color: #23232300;
}

.wrapper {
    min-width: 100vw !important;
    padding: 2rem !important;
    margin: 0 auto !important;
    overflow-x: hidden !important;
}

.container {
    /* min-width: 100vw !important; */
    margin: 0 auto;
    padding: 3rem 2rem;
    overflow-x: hidden;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 100vw !important;
    min-height: 100vh;
    /* min-width: 80vw !important; */
    display: flex;
    flex-direction: column;
    padding: 0rem !important;
    margin-top: 2rem;

}

.title {
    @mixin h3-text;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
    .episodeCard {
        margin: 0;
        width: 100%;
        /* width: 90%; */
        /* max-width: 50vw !important; */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        overflow-x: hidden;
        width: 100%;
        /* max-width: 100vw; */
        background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0, 24, 51, .6), rgba(78, 38, 120, 0.3)) !important;
        @apply bg-background;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }


    body {
        @apply bg-background text-foreground;
    }
}