.sidebar-content-gap {
    gap: 0;
}

.collapsible-label {
    @mixin button-text;
}

.collapsible-label>a {
    @mixin dropdown-button-text;
}

.collapsible-label:hover {
    background-color: var(--color-sidebar-accent);
    /* hover:bg-sidebar-accent */
    color: var(--color-sidebar-accent-foreground);
    /* hover:text-sidebar-accent-foreground */
}

.chevron-icon {
    margin-left: auto;
    /* ml-auto */
    transition-property: transform;
    /* transition-transform */
}

.collapsible-open .chevron-icon {
    transform: rotate(90deg);
    /* group-data-[state=open]/collapsible:rotate-90 */
}

.sidebar-menu-item {
    margin-left: .75rem;
    color: var(--link-color) !important;
    /* ml-3 - slight indentation for child items */
}

.sidebar-menu-item>a {
    color: var(--link-color) !important;
    transition: all 0.75s ease;
    margin-right: 1rem;
    margin-right: -10px;
    max-width: 240px;
    padding-bottom: 2px;
    padding: 5px 10px;

}

.sidebar-menu-item>a:hover {
    /* background-color: var(--link-color-oklch)); */
    color: var(--link-color-foreground);
    background-color: #0a0f1245;
    box-shadow: inset 4px 4px 8px #80b19c12;
}