.episodeList {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.episodeListItem {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.episodeImageContainer {
    flex-shrink: 0;
}

.episodeImage {
    height: 3rem;
    width: 3rem;
    border-radius: 0.375rem;
    object-fit: cover;
}

.episodePlaceholder {
    height: 3rem;
    width: 3rem;
    border-radius: 0.375rem;
    background-color: oklch(var(--muted));
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodePlaceholderIcon {
    height: 1.5rem;
    width: 1.5rem;
    color: oklch(var(--muted-foreground));
}

.episodeDetails {
    flex: 1;
    min-width: 0;
}

.episodeTitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.episodeTitle:hover {
    text-decoration-line: underline;
}

.episodeDescription {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: oklch(var(--muted-foreground));
}

.episodeDate {
    font-size: 0.75rem;
    line-height: 1rem;
    color: oklch(var(--muted-foreground));
}