@import "../styles/mixins.css";

.flexRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.notificationTitle {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.notificationTitleIcon {
    height: 1rem;
    width: 1rem;
}

.description {
    @mixin text-body;
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}


.currentSettingsTitle {
    @mixin text-h3;
}

.currentSettingsContent {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    @mixin text-body;
}

.currentSettingStatus {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.currentSettingStatusEnabled {
    color: rgb(22 163 74);
}

.currentSettingStatusDisabled {
    color: rgb(220 38 38);
}

.currentSettingStatusIcon {
    height: 0.75rem;
    width: 0.75rem;
}