.podcast-card {
  background: linear-gradient(180deg, #242424, #121212 65.62%);
  border-radius: 0.5rem; /* rounded */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 300px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .podcast-card {
    max-height: 300px;
  }
}

.title-container {
  margin-bottom: 0;
}

.description-text {
  max-height: 2rem; /* max-h-4 */
  display: -ms-flexbox;
  box-decoration-break: slice;
  -webkit-line-clamp: 1; /* line-clamp-1 */
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 1rem 0rem 1rem 0rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  height: 1rem; /* h-4 */
  gap: 0.25rem; /* gap-1 */
  align-items: flex-start;
}

.episode-image {
  width: 16rem; /* w-64 */
  height: 10rem; /* h-40 */
  border-radius: 0.25rem; /* rounded */
}

.source-text {
  max-width: 250px; /* max-w-[250px] */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* truncate */
} 