.audioPlayer,
.userAudioPlayer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	padding-left: 40px !important;
	justify-content: space-evenly;
	padding-right: 40px !important;
	padding-top: 10px !important;
	padding-bottom: 15px;
	background: #29747777;
	background-image: linear-gradient(45deg,oklch(0.31 0.05 219.51 / 0.89) 10%, #63056651 60%);
	border-top: 1px solid #2A2626D4;
	box-shadow:inset 0 -3px 40px 0px #000000C3, inset  0 -29px 70px 1px #000000C8;
	z-index: 999 !important;
	display: flex;
	padding-left: 300px ;
	width: 100%;
	align-items: center;
	height: 180px;
	gap: 1.5rem;
	max-height: 120px;
	background-blend-mode: multiply, multiply;
	backdrop-filter: blur(8px) !important;
}
.userAudioPlayer {
	padding-left: 300px;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-width: 100px !important;
	display: flex;
	width: 100% !important;
	max-width: 150px !important;
	flex-direction: column;
	gap: 1rem;
	text-align: left;
}

.info h3 {
	color: #ffffff;
	font-size: 0.5rem;
	line-height: 1.1;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info p {
	color: #b3b3b3;
	font-size: 0.3rem;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.controls {
	/* background-color: red; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	height: 20px;
	gap: 1rem;
	width: 100%;
	flex-shrink: 2;
}

.playPauseButton {
	background: rgb(146 162 152);
	color: rgb(45, 39, 39);
	border: none;
	border-radius: 99999rem !important;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease;
	padding: 10px 10px !important;
	box-shadow: 0px 5px 12px rgba(0 0 0 / 0.8);
}

.playPauseButton:hover {
	color: #79acae !important;
	box-shadow:
		inset 0px -3px 13px 0px #000608,
		0px 4px 10px 0px #0000005f;
	border: 2px solid #011715e6 !important;
	width: 50px !important;
	height: 50px !important;
}

.playPauseButton:active {
	background-color: #006b81 !important;
	color: #79acae !important;
	box-shadow:
		inset 0px -3px 13px 0px #000608,
		0px 4px 10px 0px #0000005f;
	border: 2px solid #011715e6 !important;
	width: 50px !important;
	height: 50px !important;
}

.progressContainer {
	display: flex;
	flex-direction: row !important;
	justify-content: space-evenly;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	gap: 0.95rem !important;
	flex: 1;
	width: 100% !important;

	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
}

.timeDisplay {
	color: #b3b3b3;
	/* display: none !important; */
	/* min-width: 140px; */

	text-align: left;
}

.progressBar {
	width: 100%;
	height: 8px;
	background: #0b0b0bbd;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: height 0.2s ease;
}

.progressBar:hover {
	height: 8px;
}

.progress {
	height: 100%;
	background: linear-gradient(90deg, #5900ff 0%, #1ED759 100%);
	border-radius: 3px;
	transition: width 0.1s ease;
	position: relative;
	width: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
}

.progress::after {
	content: '';
	position: absolute;
	right: -2px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: #ffffff;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.2s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.progressBar:hover .progress::after {
	opacity: 1 !important;
}

.volumeControl {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
	min-width: 20px;
}

button.volumeButton,
button.playPauseButton {
	background: #00000069;
	border: 2px solid #1a172487 !important;
	color: #e8e5ea8e;
	cursor: pointer;
	border-radius: 20px !important;
	transition: color 0.2s ease;
	padding: 22px !important;
	height: fit-content !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

button.playPauseButton:hover {
	background-color: #016667 !important;
	color: #79acae !important;
	box-shadow:
		inset 0px -3px 9px 0px #000608,
		0px 4px 9px 0px #0000005f;
	border: 2px solid #011715e6 !important;
	width: 30px !important;
	height: 30px !important;
}

.volumeButton:hover {
	color: #9fd4a4;
}

.volumeSlider {
	/* -webkit-appearance: none; */
	appearance: none !important;
	flex: 1;
	height: 10px;
	background: #02081f00;
	border: none !important;
	border-radius: 5px;
	outline: 1px solid transparent !important;
	opacity: 0.7;
	box-shadow: 0 0px 0px 1px transparent !important;
	transition: opacity 0.3s;
	cursor: pointer;
}

.volumeSlider:hover {
	opacity: 0.5;
}

.volumeSlider::-webkit-slider-runnable-track {
	background: #cfc3ff8d !important;
	border-radius: 5px;
	height: 9px !important;
	opacity: 1;
}

.volumeSlider::-moz-range-track {
	background: #6434bce1 !important;
	border-radius: 5px;
	height: 10px;
	color: #127e7ec2;
	border: 2px solid #b6fb37;
	opacity: 0.5;
}

.volumeSlider::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	border: 2px solid #252b2a;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	cursor: pointer;
	margin: -5px 0 0 0;
	margin-bottom: 10px;
}
.volumeSlider:active::-webkit-slider-thumb {
	transform: scale(1.5);
	background: #b131f6 !important;
}

.volumeSlider::-webkit-slider-runnable-track {
	width: 100%;
	height: 7px !important;
	background: #385649c8;
	border: 1px solid #08efba;
	margin-top: 2px !important;
	cursor: pointer;
	border-radius: 5px;
	background: transparent;
	border-bottom: 3px solid #080808f7;
	border-top: 1px solid #2bff8a96;
	color: #000000;
}

.volumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: hsl(237.69 58.21% 26.27%);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin-top: -7px;
}

.volumeSlider::before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
	width: var(--seek-before-width);
	height: 5px;
	background-image: linear-gradient(
		90deg,
		#0e63b1ee 34%,
		#2e72b1ee 66%
	) !important;
	cursor: pointer;
}

.episodeImageContainer {
	flex-shrink: 0;
}

.episodeImage {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	object-fit: cover;
	flex-shrink: 0;
	background: #457d72;
}

.placeholderImage {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	background: #282828;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #535353;
	flex-shrink: 0;
}

.placeholderImage svg {
	width: 24px;
	height: 24px;
}

button.playPauseButton {
	background-color: #103A54 !important;
	color: #79acae !important;
	box-shadow:
		inset 0px -1px 1px 0px #00060884,
		0px 2px 3px 0px #0000005f;
	border: 2px solid #011715e6 !important;
	width: 30px !important;
	height: 30px !important;
}
button.playPauseButton svg {
	width: 24px;
	height: 24px;
}

.closeButton:hover {
	color: #ffffff31;
	background: rgba(255, 255, 255, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
	.audioPlayer {
		width: 100vw;
		padding: initial !important;
		justify-content: flex-end;
		gap: 0px;
	}
	.timeDisplay {
		color: #b3b3b3;


	}
	.playPauseButton {
		width: 30px;
		height: 40px;
	}
.controls,
	.progressContainer {
		/* display: none; */
		width:fit-content !important;
		padding: 0px;
		gap: 1rem !important;
	justify-content: flex-start;
		min-width: initial !important;
		max-width: initial !important;
	}

.progressBar {
	width: 10vw;
}
	.timeDisplay {
		/* display: none; */
		 width: 30px;
		/* min-width: none !important; */
		/* max-width: none !important; */
		padding: initial !important;
		margin: initial !important;
	}

	.volumeControl {

		/* display: none; */
	}
	.info {
		width: 100%;
	}
	.episodeImage,
	.placeholderImage {
		width: 20px !important;
		min-width: none !important;
		max-width: none !important;
	}
	button.playPauseButton {
		background-color: #2dcabb !important;
		color: #82e9ca !important;
		width: 30px !important;
	}
	.episodeImageContainer,
	.episode-info {
		display: none !important;
	}

}

@media (max-width: 480px) {
	.userAudioPlayer,
	.audioPlayer {
		padding: 0.5rem 0.75rem;
		gap: 0.75rem;
		position: fixed;
		bottom: 0px;
		left: -188px;
		right: 0;
		display: flex;
		padding-left: 40px !important;
		justify-content: space-evenly;
		padding-right: 40px !important;
		padding-top: 0px !important;
		padding-bottom: 5px;
		background: linear-gradient(135deg, #13191e 0%, #233139c8 100%);
		border-top: 1px solid #333;
		box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3);
		z-index: 99999999 !important;
		display: flex;
		width: 155%;
		align-items: center;
		height: 180px;
		gap: 1.5rem;
		max-height: 120px;
		background-blend-mode: color;
		backdrop-filter: blur(20px);
		/* max-height: 90px; */
	}

		.audioPlayer {
		width: 100vw;
		min-width: 100vw !important;
		left: 0px;
		min-height: auto !important;
		/* padding: initial !important; */
		justify-content: space-between;
		gap: 20px;
	}
.progressContainer {
		/* display: none; */
		width: 30px;
		/* min-width: none !important; */
		max-width: none !important;
	}
	/* .info {
		flex: 1;
		min-width: 0;
	} */

	.episode-info {
		display: none;
	}

	.timeDisplay {
		/* gap: 0.75rem; */

	}

	.progressBar {


			max-width: initial;
			width: fit-content;
			min-width: 80px;
	}


	.episodeImageContainer,
	.placeholderImage {
	display: none;
	}
	button.playPauseButton {
		background-color: #2dcabb !important;
		color: #9ee982 !important;
		width: 40px;
	}

	.volumeButton {
		margin-left: 10px;
		display: none;
	}

}
