.card {
  border-radius: 0.75rem;
  border: 1px solid hsl(var(--border));
  color: hsl(var(--card-foreground));
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	width: 100%;



background: #18181b;
  /* background: linear-gradient(259deg, #19191a -30%, #272323 90%, #ffc600 238%);
  border: 1px solid hsl(var(--border));
  border-radius: .5rem;
  padding: 1rem;  */
  box-shadow: 2px 9px 17px 0px #0000004a;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 1.5rem;
}
/*
.card {
	background: #18181b;
	background: linear-gradient(57deg, #6c6cd8 0%, #4a230712 27%, #fea6000f 70%, #a8a8a800 98%);
	border: 1px solid hsl(var(--border));
	border-radius: 0.5rem;
	padding: 1rem;
} */

.cardTitle {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
	width: 100%;
}

.cardDescription {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}

.cardContent {
  padding: 1.5rem;
  padding-top: 0;
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-top: 0;
}



@media (min-width: 768px) {
  .card {
   flex-direction: row;
    padding: 0;
		max-width: 70vw;
  }
}

@media (min-width: 1024px) {
  .card {
			flex-direction: row;
  }
}
