

/* Dropdown Menu Sub Trigger */
.subTrigger {
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    padding: 0.375rem 0.5rem;
    outline: none;
}

.subTrigger:focus {
    background-color: oklch(var(--accent));
}

.subTrigger[data-state="open"] {
    background-color: oklch(var(--accent));
}

.subTrigger svg {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.subTriggerInset {
    padding-left: 2rem;
}

.subTriggerChevron {
    margin-left: auto;
}

/* Dropdown Menu Sub Content */
.subContent {
    z-index: 99999 !important;
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.975rem;
    border: 1px solid oklch(var(--border));
    background-color: oklch(var(--popover-background));
    padding: 0.8rem;
    color: oklch(var(--popover-foreground));
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.subContent[data-state="open"] {
    animation: animate-in 0.2s ease-out;
}

.subContent[data-state="closed"] {
    animation: animate-out 0.2s ease-in;
}

.subContent[data-state="closed"] {
    animation-fill-mode: forwards;
    animation-name: fade-out-0;
}

.subContent[data-state="open"] {
    animation-fill-mode: forwards;
    animation-name: fade-in-0;
}

.subContent[data-state="closed"] {
    animation-fill-mode: forwards;
    animation-name: zoom-out-95;
}

.subContent[data-state="open"] {
    animation-fill-mode: forwards;
    animation-name: zoom-in-95;
}

.subContent[data-side="bottom"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-top-2;
}

.subContent[data-side="left"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-right-2;
}

.subContent[data-side="right"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-left-2;
}

.subContent[data-side="top"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-bottom-2;
}

.subContent {
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

/* Dropdown Menu Content */
.content {
    z-index: 99999 !important;
    max-height: var(--radix-dropdown-menu-content-available-height);
    min-width: 9rem;
    /* overflow-y: auto; */
    overflow-x: hidden;
    border-radius: 1.75rem;
    border: 1px solid oklch(var(--border));
    background: var(--popover-background);
    padding: 1.5rem 0.25rem;
    color: oklch(var(--popover-foreground));
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content[data-state="open"] {
    animation: animate-in 0.2s ease-out;
}

.content[data-state="closed"] {
    animation: animate-out 0.2s ease-in;
}

.content[data-state="closed"] {
    animation-fill-mode: forwards;
    animation-name: fade-out-0;
}

.content[data-state="open"] {
    animation-fill-mode: forwards;
    animation-name: fade-in-0;
}

.content[data-state="closed"] {
    animation-fill-mode: forwards;
    animation-name: zoom-out-95;
}

.content[data-state="open"] {
    animation-fill-mode: forwards;
    animation-name: zoom-in-95;
}

.content[data-side="bottom"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-top-2;
}

.content[data-side="left"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-right-2;
}

.content[data-side="right"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-left-2;
}

.content[data-side="top"] {
    animation-fill-mode: forwards;
    animation-name: slide-in-from-bottom-2;
}

.content {
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

/* Dropdown Menu Item */
.item {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    padding: 0.45rem 0.7rem;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.35s ease;
    color: oklch(var(--accent-foreground));
    background-color: oklch(var(--accent));


}

.SidebarMenuItem {
    color: oklch(var(--link-color-foreground-oklch));

}

.SidebarMenuItem:hover {
    background-color: oklch(var(--link-color-oklch));
    color: oklch(var(--link-color-foreground-oklch));
    box-shadow: inset 5px 10px 10px #6b696653;
    color: hsla(var(--accent), .8);
}

.item:hover {
    background-color: oklch(280, 60%, 36%);
    border-radius: 6px;
    border: 1px solid #2a2e30;
    box-shadow: inset 5px 10px 10px #6b696653;
    color: hsla(var(--accent), 0.8);
    box-shadow: inset 5px 10px 10px #6b696653;
    color: hsla(var(--accent), .8);
}

.item>a {
    color: hsla(var(--accent), 0.8);
}

.item:focus {
    background-color: oklch(var(--accent));
    color: oklch(var(--accent-foreground));
}

.item[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.item>svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.itemInset {
    padding-left: 2rem;
}

/* Dropdown Menu Checkbox Item */
.checkboxItem {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.125rem;
    padding: 0.375rem 0.5rem 0.375rem 2rem;
    outline: none;
    transition: color 0.15s ease;
}

.checkboxItem:focus {
    background-color: oklch(var(--accent));
    color: oklch(var(--accent-foreground));
}

.checkboxItem[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.checkboxItemIndicator {
    position: absolute;
    left: 0.5rem;
    display: flex;
    height: 0.875rem;
    width: 0.875rem;
    align-items: center;
    justify-content: center;
}

.checkboxItemIcon {
    height: 1rem;
    width: 1rem;
}

/* Dropdown Menu Radio Item */
.radioItem {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.125rem;
    padding: 0.375rem 0.5rem 0.375rem 2rem;

    outline: none;
    transition: color 0.15s ease;
}

.radioItem:focus {
    background-color: oklch(var(--accent));
    color: oklch(var(--accent-foreground));
}

.radioItem[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.radioItemIndicator {
    position: absolute;
    left: 0.5rem;
    display: flex;
    height: 0.875rem;
    width: 0.875rem;
    align-items: center;
    justify-content: center;
}

.radioItemIcon {
    height: 0.5rem;
    width: 0.5rem;
    fill: currentColor;
}

/* Dropdown Menu Label */
.label {
    padding: 0.375rem 0.5rem;

}

.labelInset {
    padding-left: 2rem;
}

/* Dropdown Menu Separator */
.separator {
    margin: 0.25rem -0.25rem;
    height: 1px;
    background-color: oklch(var(--muted));
}

/* Dropdown Menu Shortcut */
.shortcut {
    margin-left: auto;

    letter-spacing: 0.1em;
    opacity: 0.6;
}

/* Animation keyframes */
@keyframes animate-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes fade-in-0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-0 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoom-in-95 {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoom-out-95 {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes slide-in-from-top-2 {
    from {
        opacity: 0;
        transform: translateY(-0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in-from-right-2 {
    from {
        opacity: 0;
        transform: translateX(0.5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-from-left-2 {
    from {
        opacity: 0;
        transform: translateX(-0.5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-from-bottom-2 {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
