.selectTrigger {
    display: flex;
    height: 2.25rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: oklch(var(--input));
    background-color: transparent;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    font-size: 0.875rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    outline: none;
}

.selectTrigger[data-placeholder] {
    color: oklch(var(--muted-foreground));
}

.selectTrigger:focus {
    outline: 1px solid oklch(var(--ring));
}

.selectTrigger:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.selectTrigger span {
    line-clamp: 1;
}

.selectTrigger svg {
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
}

.selectScrollButton {
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    padding-block: 0.25rem;
}

.selectScrollButton svg {
    height: 1rem;
    width: 1rem;
}

.selectContent {
    position: relative;
    z-index: 50;
    max-height: var(--radix-select-content-available-height);
    min-width: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: oklch(var(--popover));
    color: oklch(var(--popover-foreground));
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    animation-duration: 300ms;
    animation-timing-function: ease-out;
}

.selectContent[data-state="open"] {
    animation-name: slideIn, fadeIn, zoomIn;
}

.selectContent[data-state="closed"] {
    animation-name: fadeOut, zoomOut;
}

.selectContent[data-side="bottom"] {
    animation-name: slideInFromTop;
}

.selectContent[data-side="left"] {
    animation-name: slideInFromRight;
}

.selectContent[data-side="right"] {
    animation-name: slideInFromLeft;
}

.selectContent[data-side="top"] {
    animation-name: slideInFromBottom;
}

.selectContent[data-position="popper"][data-side="bottom"] {
    transform: translateY(0.25rem);
}

.selectContent[data-position="popper"][data-side="left"] {
    transform: translateX(-0.25rem);
}

.selectContent[data-position="popper"][data-side="right"] {
    transform: translateX(0.25rem);
}

.selectContent[data-position="popper"][data-side="top"] {
    transform: translateY(-0.25rem);
}

.selectViewportPopper {
    height: var(--radix-select-trigger-height);
    width: 100%;
    min-width: var(--radix-select-trigger-width);
}

.selectLabel {
    padding-inline: 0.5rem;
    padding-block: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.selectItem {
    position: relative;
    display: flex;
    width: 100%;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.125rem;
    padding-block: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
    font-size: 0.875rem;
    outline: none;
}

.selectItem:focus {
    background-color: oklch(var(--accent));
    color: oklch(var(--accent-foreground));
}

.selectItem[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.selectItemIndicatorSpan {
    position: absolute;
    right: 0.5rem;
    display: flex;
    height: 0.875rem;
    width: 0.875rem;
    align-items: center;
    justify-content: center;
}

.selectItemCheckIcon {
    height: 1rem;
    width: 1rem;
}

.selectSeparator {
    margin-inline: -0.25rem;
    margin-block: 0.25rem;
    height: 1px;
    background-color: oklch(var(--muted));
}