.background-base {
  min-height: 150vh;
  width: 100%;
  position: absolute;
  z-index: -1;
	overflow: hidden;
}

.grid-bg {
	min-height: 110vh;
  background: url('/assets/background/grid-bg.svg') no-repeat;
}

.grain-background {
  background: url('/assets/background/grain-bg.svg') repeat;
}

.grain-blur {
  top: 20px;
  background: url('/assets/background/grain-blur.svg') no-repeat 50%;
}

.large-blur {
  left: -30px;
  top: -264px;
  border-radius: 750px;
  opacity: 0.2;
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(22 96 206 / 0.2) 0%,
    rgba(117, 173, 255, 0) 70%,
    rgba(117, 173, 255, 0) 100%
  );
}

.small-blur {
  /* background: url('/assets/background/small-blur.svg') no-repeat 50%; */
}
